.wrap {
    height: 2000px;
    position: relative;
}

.wrap > div {
    border: 1px solid silver;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: static;
}

.wrap > div:nth-child(3) {
    color: red;
    position: fixed;
    top: 100px;
    left: 200px;
}

.wrap > div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 20px;
}